{% load staticfiles %}
<!DOCTYPE html>
<html class="no-js">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE-edge" />
    <title>Scrum Board</title>
    <meta name="description" content="" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="{% static 'webui/vendor/normalize.css' %}" />
    <link rel="stylesheet" href="{% static 'webui/css/site.css' %}" />
    <script type="text/html" id="home-template">
        <h1>Welcome to my Scrum Board Project!</h1>
    </script>
    <script type="text/html" id="login-template">
        <form action="" method="post">
            <label for="id_username">Username</label>
            <input id="id_username" type="text" name="username" maxlength="30" required />
            <label for="id_password">Password</label>
            <input id="id_password" type="password" name="password" required />
            <button type="submit">Login</button>
        </form>
    </script>
    <script type="text/html" id="header-template">
        <span class="title">Scrum Board Example</span>
        <% if (authenticated ) { %>
            <nav>
                <a href="/" class="button">Your Sprints</a>
                <a href="#" class="logout button">Logout</a>
            </nav>
        <% } %>
    </script>
</head>
<body>
    <div id="content"></div>
    <script src="{% static 'webui/vendor/jquery.js' %}"></script>
    <script src="{% static 'webui/vendor/underscore.js' %}"></script>
    <script src="{% static 'webui/vendor/backbone.js' %}"></script>
    <script id="config" type="text/json">
        {
            "models": {},
            "collections": {},
            "views": {},
            "router": null,
            "apiRoot": "{{ api_root }}",
            "apiLogin": "{{ api_token }}"
        }
    </script>
    <script src="{% static 'webui/js/app.js' %}"></script>
    <script src="{% static 'webui/js/models.js' %}"></script>
    <script src="{% static 'webui/js/views.js' %}"></script>
    <script src="{% static 'webui/js/router.js' %}"></script>
</body>
</html>
